.swiper-group-9 {
    .swiper-slide {
        text-align: center;
    }
}

.list-brands {
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
}

.mh-none {
    max-height: 265px !important;
}
